.footer {
    background-color: $color-secundario;
    padding: 20px;
    color: white;
    margin-top: 20px; }
  
  .footerproject {
    margin-top: 0px; }
  
  .footer div {
    text-align: center; }
  